{% extends "layout.html.twig" %}

{% block title %}Mon compte{% endblock %}

{% block content %}
    {% if app.user is not null %}
        <h1>Bonjour, {{ app.user.username }}.</h1>
    {% endif %}
    <div class="row align-center">
        <div class="col-xl-6 col-12">
            <p class="align-center">
                Vous avez {{ annonces|length }} annonces en ligne.
            </p>
            <a class="btn btn-primary" href="{{ path('app_sell') }}">Vendre un objet</a>
        </div>
    </div>
    <div class="row align-left mt-m">
        <div class="col-12">
            <div>
                <span class="align-left h5">
                    Vos annonces :
                </span>
            </div>
            <div class="list">
                {% for annonce in annonces %}
                    <div class="annonce">
                        <div class="thumbnail">
                            <img src="{{ asset(imagepath ~ annonce.file|first)|imagine_filter('square_thumb') }}">
                        </div>
                        <p class="fs-s mb-none">{{ annonce.titre }}</p>
                        <p>{{ annonce.prix }} €</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}