{% extends "layout.html.twig" %}

{% block title %}Profil de {{ user.username }}{% endblock %}

{% block content %}
    {% if user is not null %}
        <h1>Profil de {{ user.username }}.</h1>
    {% endif %}
    <div class="row align-center">
        <div class="col-xl-6 col-12">
            <p class="align-center">
                Ce vendeur a {{ annonces|length }} annonces en ligne.
            </p>
        </div>
    </div>
    <div class="row align-left mt-m">
        <div class="col-12">
            <div>
                <span class="align-left h5">
                    Annonces de {{ user.username }} :
                </span>
            </div>
            <div class="list">
                {% for annonce in annonces %}
                    <div class="annonce">
                        <div class="thumbnail">
                            <img src="{{ asset(imagepath ~ annonce.file|first)|imagine_filter('square_thumb') }}">
                        </div>
                        <p class="fs-s mb-none">{{ annonce.titre }}</p>
                        <p class="fs-es mt-none">Vendu par <a href="{{ path('app_seller', { 'id': annonce.auteur.id }) }}">{{ annonce.auteur.username }}</a></p>
                        <p>{{ annonce.prix }} €</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}