{% extends "layout.html.twig" %}

{% block title %} Question de {{ question.auteur.username }} {% endblock %}
{% block content %}
    <div class="row align-left mt-m">
        <div class="col-12">
            <div>
                <h3 class="">Question de {{ question.auteur.username }}</h3>
            </div>
        </div>
    </div>

    <div class="row align-left mt-s">
        <div class="col-12">
            <div>
                    <ul class="questions align-center">
                        <li class="question_item align-center">
                            <div class="ml-s align-left">
                                <p>{{ question.description }}</p>
                            </div>
                            <div class="mr-s align-right">
                                <p class="mb-none align-right">Posée par <a href="{{ path('app_seller', { 'id': question.auteur.id }) }}">{{ question.auteur.username }}</a></p>
                                <p class="mt-none align-right">le {{ question.date|date("d/m/Y") }}</p>
                            </div>
                        </li>
                    </ul>
            </div>
            <div class="align-right">
            {% if app.user == question.annonce.auteur %}
                <a href="{{ path('app_reponse_add', { 'id': question.id }) }}" class="btn btn-primary">Répondre</a>
            {% else %}
                <p class="mb-none align-right">Vous devez être l'auteur de l'annonce pour répondre.</p>
            {% endif %}
            </div>

            <div>
                <ul class="questions answers align-center">
                    {% for reponse in question.reponses %}
                        <li class="question_item align-center">
                            <div class="ml-s align-left">
                                <p>{{ reponse.description }}</p>
                            </div>
                            <div class="mr-s align-right">
                                <p class="mb-none align-right">Réponse par <a href="{{ path('app_seller', { 'id': reponse.auteur.id }) }}">{{ reponse.auteur.username }}</a></p>
                                <p class="mt-none align-right">le {{ reponse.date|date("d/m/Y") }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}