{# templates/layout.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %} - LePasTropBonCoin</title>
            {% include 'base_styles.html.twig' %}
        {% endblock %}
    </head>
    <body>
        <main>
            <div class="container">
                <div class="row align-center mt-s">
                    <div class="col-xl-6 col-12">
                        <div class="web-logo">
                            <img src="{{asset('img/layout/logo.png')}}">
                        </div>
                    </div>
                </div>
                <div class="navbar row align-center mt-s">
                    <div class="navitem">
                        <a href="{{path('app_home')}}">Accueil</a>
                    </div>
                    <div class="navitem">
                        <a href="">Explorer</a>
                    </div>
                    {% if app.user %}
                    <div class="navitem">
                        <a href="{{path('app_sell')}}">Vendre</a>
                    </div>
                    <div class="navitem">
                        <a href="{{path('app_profile')}}">Mon compte</a>
                    </div>
                    <div class="navitem">
                        <a href="{{path('app_logout')}}">Déconnexion</a>
                    </div>
                    {% else %}
                    <div class="navitem">
                        <a href="{{path('app_login')}}">Connexion</a>
                    </div>
                    <div class="navitem">
                        <a href="{{path('app_register')}}">Inscription</a>
                    </div>
                    {% endif %}
                </div>
                <div id="content" class="mt-m">{% block content %}{% endblock %}</div>
            </div>
        </main>
        
        <footer>
            <div class="container">
                <div class="row align-center">
                    <div class="col-xl-6 col-12">
                        {% block footer %}
                            &copy; Copyright 2022 by <a href="http://domain.invalid/">us</a>.
                        {% endblock %}
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>