<div class="annonce">
    <a href="{{ path('app_details_annonce', { 'id': annonce.id }) }}" class="thumbnail">
        <img src="{{ asset(imagepath ~ annonce.file|first)|imagine_filter('square_thumb') }}">
    </a>
    <p class="fs-s mb-none">{{ annonce.titre }}</p>
    <p class="fs-es mt-none">Vendu par <a href="{{ path('app_seller', { 'id': annonce.auteur.id }) }}">{{ annonce.auteur.username }}</a></p>
    <p class="fs-es mt-none">le {{ annonce.date|date("d/m/Y") }}</p>
    <p>{{ annonce.prix }} €</p>
    {% if annonce.auteur == app.user %}
        <a href="{{ path('app_delete_annonce', { 'id': annonce.id }) }}">Supprimer</a>
    {% endif %}
</div>